:root {
  --sp-greenbean: #335b4a;
  --sp-darkgreen: #004225;
  --sp-lightgreen: #f5f5dc;
  --sp-lightorange: #ffb000;
  --sp-peach: #ffcf9d;
  --sp-deeporange: #ff8000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    var(--sp-deeporange),
    15%,
    var(--sp-lightorange),
    50%,
    var(--sp-peach)
  );
}

aside h2 {
  font-size: 40px;
  letter-spacing: 0.3rem;
}

.custom-break {
  display: block;
  background-image: url("../assets/deco-line-break.png");
  background-size: 25% 25%;
  background-position: center;
  rotate: 90deg;
}

.title-card {
  position: absolute;
  height: 700px;
  width: 100%;
  background-image: url("../assets/camarillo.jpg");
  background-size: cover;
  background-position: center;
}

.menu {
  position: relative;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.menu ul li {
  margin: 0px;
  letter-spacing: 0.1rem;
  margin-left: 15px;
  margin-right: 15px;
}

.menu ul li a {
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: var(--sp-darkgreen);
}

.menu ul li a:hover {
  color: var(--sp-lightgreen);
  text-shadow: 2px 2px 2px var(--sp-darkgreen);
}

.home-icon {
  width: 50px;
  height: auto;
}

#project-section,
#about-section,
#contact-me {
  display: flex;
  align-self: center;
  width: 90%;
  max-width: 1000px;
  margin: 25px;
  border: 5px solid var(--sp-darkgreen);
  background-color: var(--sp-lightgreen);
  /* 
  values in order

    x-value offset
    y value offset
    blur-radius
    spread-radius
    color 
  */
  box-shadow: 5px 5px 2px var(--sp-greenbean);
}

#project-section {
  height: 500px;
}

.project-title {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  rotate: 180deg;
  text-align: center;
  width: 50px;
  margin: 0px 25px;
}

.project-content {
  width: 90%;
  height: 100%;
}

.project-content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 5px;
  width: 100%;
  height: 100%;
}

/*
  Every slide contains (sequentially)
    <h3> - Project title
    <article> - Brief description
    <a> - Link to project 
*/
.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(30% - 10px);
  width: 30%;
  margin: 5px;
  border: 3px solid var(--sp-darkgreen);
  transition: scale 0.3s;
}

.slide article {
  display: none;
}

.slide:hover {
  scale: 1.05;
}

.slide:nth-child(1) {
  height: calc(97% - 20px);
}

.slide:nth-child(2),
.slide:nth-child(3) {
  height: calc(50% - 29px);
}

#about-section {
  flex-direction: row;
  align-items: center;
  height: 300px;
}

.about-title {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  height: 100%;
  text-align: center;
  width: 50px;
  margin: 0px 25px;
}

.about-image {
  width: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  font-size: larger;
  height: 250px;
  width: auto;
}

#contact-me {
  height: 100px;
}

.footer-card {
  position: absolute;
  height: 200px;
  width: 100%;
  background-image: url("../assets/camarillo.jpg");
  background-size: cover;
  background-position: 50% 75%;
}

.footer-content {
  float: right;
  margin: 25px;
}

@media screen and (max-width: 780px) {
  .menu {
    height: 150px;
    color: var(--sp-darkgreen);
    text-shadow: 1px 1px 1px var(--sp-lightgreen);
  }

  .about-content {
    font-size: small;
  }
}
