:root {
  --sp-darkgreen: #004225;
  --sp-lightgreen: #f5f5dc;
  --sp-lightorange: #ffb000;
  --sp-peach: #ffcf9d;
}

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title-card {
  position: fixed;
  height: 700px;
  width: 100%;
  background-image: url("../assets/camarillo.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: 0% 100%;
  z-index: -1;
}

.menu {
  position: relative;
  height: 100px;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.menu ul li {
  margin: 0px;
  letter-spacing: 0.1rem;
  margin-left: 15px;
  margin-right: 15px;
}

.menu ul li a {
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: var(--sp-darkgreen);
}

.menu ul li a:hover {
  color: var(--sp-peach);
  text-shadow: 2px 2px 2px #004225;
}

.home-icon {
  width: 50px;
  height: auto;
}

.projec-section {
  display: inline;
}

#project-title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  rotate: 180deg;
}

@media screen and (max-width: 1180px) {
  .menu {
    height: 50px;
  }
}
